@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us About us
</div> 
